* {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 40px;
	font-family: Ubuntu;
}

p {
	font-family: Ubuntu;
	font-size: 25px;
	line-height: 50px;
}

.content {
	margin-left: 30px;
	margin-top: 30px;
	width: 1400px;
}
.content h1 {
	margin-bottom: 20px;
}
.content p {
	margin-bottom: 50px;
}
.content ul {
	margin-left: 50px;
	font-size: 25px;
	font-family: Ubuntu;
	line-height: 50px;

	margin-bottom: 50px;
}

#sidebar {
	position: absolute;
	margin-left: 57%;

	color: rgb(68, 133, 255);
}

#popup {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 700px;
	height: 250px;
	background-color: rgb(68, 133, 255);
	border-radius: 10px 0px 10px 0px;
}
#popup h1 {
	margin-top: 40px;
}
#popup p {
	margin-top: 20px;
	font-size: 25px;
}

a {
	color: rgb(75, 75, 75);
}

#popup-close {
	background-color: black;
	color: white;

	width: 50px;
	float: right;
}

#popup-close:hover {
	cursor: pointer;
}


#pointData {
	margin-top: 60px;
	background-color: rgb(50, 50, 50);
	border-radius: 10px;
	border: 2px solid gray;
	
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;

	width: 470px;
}
#barrierData {
	margin-top: 30px;
	background-color: rgb(50, 50, 50);
	border-radius: 10px;
	border: 2px solid gray;

	padding-right: 30px;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#resetPoints {
	background-color: rgb(50, 50, 50);
	width: 120px;
	border: 2px solid gray;
	border-radius: 10px;
}
#resetPoints:hover {
	cursor: pointer;
	background-color: rgb(70, 70, 70);
}
